Repository proofit404/stories: changes, and which pre-commit hooks are due for each by the changed paths.
All: file-contents-sorter, debug-statement-hook, check-builtin-literals, check-json, check-toml, check-yaml, pyupgrade, reorder-python-imports, docformatter, eradicate, flake8, yesqa, remark, eslint, yamllint, toml-sort

file-contents-sorter:
  name: file-contents-sorter
  entry: file-contents-sorter
  language: system

debug-statement-hook:
  name: debug-statement-hook
  entry: debug-statement-hook
  language: system

check-builtin-literals:
  name: check-builtin-literals
  entry: check-builtin-literals
  args:
  - --no-allow-dict-kwargs
  language: system

check-json:
  name: check-json
  entry: check-json
  language: system

check-toml:
  name: check-toml
  entry: check-toml
  language: system

check-yaml:
  name: check-yaml
  entry: check-yaml
  args:
  - --unsafe
  language: system

pyupgrade:
  name: pyupgrade
  entry: pyupgrade
  args:
  - --py311-plus
  language: system

reorder-python-imports:
  name: reorder-python-imports
  entry: reorder-python-imports
  args:
  - --py311-plus
  - --application-directories=src:testing
  language: system

docformatter:
  name: docformatter
  entry: docformatter
  args:
  - --wrap-summaries=88
  - --wrap-descriptions=88
  - --blank
  - --in-place
  language: system

eradicate:
  name: eradicate
  entry: eradicate
  args:
  - --aggressive
  - --in-place
  - --error
  language: system

flake8:
  name: flake8
  entry: flake8
  require_serial: true
  language: system

yesqa:
  name: yesqa
  entry: yesqa
  language: system

remark:
  name: remark
  entry: remark
  args:
  - --frail
  language: system

eslint:
  name: eslint
  entry: eslint
  language: system

yamllint:
  name: yamllint
  entry: yamllint
  args:
  - --strict
  language: system

toml-sort:
  name: toml-sort
  entry: toml-sort
  args:
  - --all
  - --no-header
  - --in-place
  language: system

wip
  testing/aioapp/tools.py
  testing/app/entities.py
  testing/app/gateways.py
  testing/app/repositories.py
  testing/app/tools.py
  testing/app/transactions.py
  testing/fixtures/__init__.py
  testing/fixtures/asynchronous.py
  testing/fixtures/synchronous.py
  tests/conftest.py
  tests/test_actors.py
  tests/test_initiate.py
  tests/test_stories.py
Due: debug-statement-hook, check-builtin-literals, pyupgrade, reorder-python-imports, docformatter, eradicate, flake8, yesqa

wip
  examples/purchase.py
  src/aiostories/story.py
  src/stories/__init__.py
  src/stories/initiate.py
  src/stories/steps.py
  src/stories/story.py
Due: debug-statement-hook, check-builtin-literals, pyupgrade, reorder-python-imports, docformatter, eradicate, flake8, yesqa

wip
  src/aiostories/__init__.py
  src/stories/__init__.py
  src/stories/initiate.py
  src/stories/steps.py
  testing/app/repositories.py
  tests/conftest.py
Due: debug-statement-hook, check-builtin-literals, pyupgrade, reorder-python-imports, docformatter, eradicate, flake8, yesqa

wip
  src/aiostories/story.py
  src/stories/__init__.py
  src/stories/initiate.py
  src/stories/steps.py
  src/stories/story.py
Due: debug-statement-hook, check-builtin-literals, pyupgrade, reorder-python-imports, docformatter, eradicate, flake8, yesqa

wip
  docs/transactions.md
  examples/transactions_step.log
  examples/transactions_step.py
  tests/test_actors.py
  tests/test_initiate.py
  tests/test_stories.py
Due: debug-statement-hook, check-builtin-literals, pyupgrade, reorder-python-imports, docformatter, eradicate, flake8, yesqa, remark

wip
  src/stories/story.py
  testing/fixtures/asynchronous.py
  testing/fixtures/synchronous.py
  tests/test_initiate.py
Due: debug-statement-hook, check-builtin-literals, pyupgrade, reorder-python-imports, docformatter, eradicate, flake8, yesqa

wip
  src/stories/initiate.py
  testing/fixtures/__init__.py
  testing/fixtures/asynchronous.py
  testing/fixtures/synchronous.py
  tests/test_actors.py
  tests/test_initiate.py
  tests/test_stories.py
Due: debug-statement-hook, check-builtin-literals, pyupgrade, reorder-python-imports, docformatter, eradicate, flake8, yesqa

wip
  src/aiostories/__init__.py
  src/aiostories/py.typed
  src/stories/__init__.py
  testing/aioapp/py.typed
  testing/app/py.typed
  testing/fixtures/asynchronous.py
  testing/fixtures/py.typed
  testing/fixtures/synchronous.py
  tests/conftest.py
Due: debug-statement-hook, check-builtin-literals, pyupgrade, reorder-python-imports, docformatter, eradicate, flake8, yesqa

fixme
  testing/fixtures/__init__.py
  testing/fixtures/asynchronous.py
  testing/fixtures/synchronous.py
  tests/test_actors.py
  tests/test_initiate.py
  tests/test_stories.py
Due: debug-statement-hook, check-builtin-literals, pyupgrade, reorder-python-imports, docformatter, eradicate, flake8, yesqa

updates
  .cruft.json
  .pre-commit-config.yaml
  mypy.ini
Due: check-json, check-yaml, yamllint

build: initialize project
  .coveragerc
  .cruft.json
  .editorconfig
  .eslintrc.yml
  .flake8
  .github/workflows/pipeline.yml
  .gitignore
  .jscpd.json
  .pre-commit-config.yaml
  .remarkrc
  .yamllint
  LICENSE
  README.md
  commitlint.config.js
  dangerfile.ts
  docs/changelog.md
  docs/index.md
  docs/installation.md
  docs/javascripts/extra.js
  mkdocs.yml
  mypy.ini
  package.json
  pyproject.toml
  pytest.ini
  release.config.js
  requirements.txt
  scripts/check
  scripts/install
  scripts/release
  scripts/review
  scripts/serve
  scripts/test
  src/stories/__init__.py
  src/stories/py.typed
Due: file-contents-sorter, debug-statement-hook, check-builtin-literals, check-json, check-toml, check-yaml, pyupgrade, reorder-python-imports, docformatter, eradicate, flake8, yesqa, remark, eslint, yamllint, toml-sort

feat: implement stories #1
  requirements.txt
  src/stories/__init__.py
  src/stories/story.py
  testing/app/__init__.py
  testing/app/entities.py
  testing/app/repositories.py
  testing/app/usecases.py
  tests/test_story.py
Due: file-contents-sorter, debug-statement-hook, check-builtin-literals, pyupgrade, reorder-python-imports, docformatter, eradicate, flake8, yesqa

Path conditions:
  file-contents-sorter: any of: ^(.gitignore|requirements.txt)$
  debug-statement-hook: any of: \.py$
  check-builtin-literals: any of: \.py$
  check-json: any of: \.json$
  check-toml: any of: \.toml$
  check-yaml: any of: \.(yaml|yml)$
  pyupgrade: any of: \.py$
  reorder-python-imports: any of: \.py$
  docformatter: any of: \.py$
  eradicate: any of: \.py$
  flake8: any of: \.py$
  yesqa: any of: \.py$
  remark: any of: \.(md|markdown|mdown)$
  eslint: any of: \.(js|mjs|cjs)$
  yamllint: any of: \.(yaml|yml)$
  toml-sort: any of: \.toml$
